body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 82px;
  color: #66BFBF;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 3%;
  margin: 100px auto 100px auto;

}
h2 {
  font-family: 'Monserrat', sans-serif;
  color: #11999E;
  line-height: 2;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Monserrat', sans-serif;
}
p{
  line-height: 2;
}
.intro-line{
  font-size: 2.2rem;
  color: #66BFBF;
  font-weight: normal;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
   margin-left: 100px 0;
}

.middle-container {

}

.bottom-container {
 margin-top:50px;
 padding: 50px 0 20px;
 background-color: #66BFBF

}

.web {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}
.profile-image{
  width: 250px;
  height: 250px;
}
.hello{
  font-family: Tahoma,Geneva,sans-serif;;
}
.intro{
  font-size:20px;
  font-family: Tahoma,Geneva,sans-serif;
}
.skills-1{
  font-size:20px;
  font-family: Tahoma,Geneva,sans-serif;
}
.skills-2{
  font-size:20px;
  font-family: Tahoma,Geneva,sans-serif;
}
.my-skills{
  font-family: Tahoma,Geneva,sans-serif;
}
.sports{
  font-family: Tahoma,Geneva,sans-serif;
}
.footer-link{
  color: #11999E;
}



.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}
.code{
  width: 25%;
  float: left;

}
.sports{
  width: 25%;
  margin: 0px;
  float: right;
    margin-bottom: 0px;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: auto auto 50px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999d);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999d);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999d);
  background-image: -o-linear-gradient(top, #11cdd4, #11999d);
  background-image: linear-gradient(to bottom, #11cdd4, #11999d);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Monserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


a{
  color: #11999E;
  font-family: 'Monserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color:  #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
